/* Universal styles */
:root {
  --header-color: #bc93f9;
  --font-color: #f8f8f2;
  --sidebar-color: #2e303d;
  --body-color: #282a36;
  --orange-color: #C47A35;
  --header-font: 'PT Sans Narrow', sans-serif;
  --body-font: 'Raleway', sans-serif;
}

* {
  color: var(--font-color);
  font-family: var(--body-font);
  margin: 0;
}

body {
	font-weight: 400;
	margin: 0;
	line-height: 2em;
}

p {
	line-height: 1.5em;
}

a {
	text-decoration: none;
	transition: all 1s;
	/* color: var(--green-color); */
	font-weight: 300;
}

a:hover {
	color: var(--orange-color);
}

h1 {
  color: var(--header-color);
  font-size: 4rem;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: .2em;
}

h2, h3 {
	font-family: var(--header-font);
	color: var(--font-color);
}

/* h2 {
	font-size: 2em;
	line-height: 1.25em;
} */

h3 {
	font-size: 2.5em;
	line-height: 1.5em;
}

h5 {
	font-size: 1em;
	font-weight: 700;
	font: var(--header-font);
}

hr {
	height: 3px;
	border: 0;
	background: var(--orange-color);
	width: 70px;
	margin: 0;
	margin: 20px 0;
}

/* For smooth scrolling to not outline sections in blue */
#top:focus, #featured-projects:focus, #about:focus, #contact:focus {
	outline: 0;
}


/* Main Container Settings */
/* .app-container {
  display: flex;
} */

/* MAIN CONTENT */
/* .main-container {
  flex: 3;
  flex-direction: column;
  justify-items: center;
} */


/* NAVIGATION */
.nav-buttons {
  /* box */
  display: block;
  flex-grow: 0;
  position: relative; 
}

@media (max-width: 767px) {
  .nav-buttons {
    /* box */
    display: flex;
    padding-bottom: 4rem;
    /* flex child element settings */
    flex-direction: row;
    justify-content: space-around; 
  } 
}

.nav-buttons_button {
  padding-bottom: 1.8rem; 
}

@media (max-width: 767px) {
  .nav-buttons__button {
    /* box */
    padding-bottom: 0; } 
}

.nav-buttons__link-text {
  padding-top: 0.7rem;
  /* text */
  color: var(--font-color);
  font-size: .8rem;
  line-height: .9rem;
  text-align: center; 
}

.nav-buttons__link-text:hover {
  color: white;
}

@media (max-width: 767px) {
  .nav-buttons__link-text {
    /* text */
    font-size: .8rem; } 
}

.nav-buttons__icon {
  /*box*/
  display: block;
  /* text */
  font-size: 3.4rem; 
  color: rgba(255, 255, 255, 0.5);
}

.nav-buttons__icon:hover  {
  color: white;
}

@media (max-width: 767px) {
  .nav-buttons__icon {
    /* text */
    font-size: 4rem; 
    color: rgba(255, 255, 255, 0.5);
  } 
}

.nav-buttons__icon--not-square {
  padding-bottom: 0.85rem;
  font-size: 3.5rem; 
}

@media (max-width: 767px) {
  .nav-buttons__icon--not-square {
    /* text */
    font-size: 4rem;
    padding-top: .3rem;
    padding-bottom: .7rem; } 
}

.nav-buttons a {
  /* text */
  color: rgba(255, 255, 255, 0.5);
  font-size: 6rem; 
}

/* SIDEBAR  */
.sidebar {
  /* background */
  background-color: var(--sidebar-color);
  background-position: 700px 0;
  background-size: cover;
  position: fixed;
  left: 0px;
  overflow: auto;
  /* border: 3px solid white; */
  -webkit-box-shadow: 7px 0 4px -2px rgba(0, 0, 0, .2);
          box-shadow: 7px 0 4px -2px rgba(0, 0, 0, .2);
  /* box positions*/
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  width: 25%;
  margin: auto;


  /* text */
  color: var(--font-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  /* flex child element settings */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
}

@media (max-width: 767px) {
  .sidebar {
    /* box */
    height: 20%;
    width: 100%;
    /* background */
    position: static;
    top: 0px;
    overflow: hidden;
    /* flex child settings */
    flex-direction: column; 
  } 
}

.sidebar__profile-container {
  /* box */
  display: block;
  flex-grow: 0;
  margin: 1.2rem 2rem; 
}

@media (max-width: 767px) {
  .sidebar__name {
    /* box */
    padding-right: -0.375em;
    /* text */
    font-size: 4rem;
    letter-spacing: 0.75em;
    text-indent: 0.75em; 
  } 
}

.sidebar__headline {
  display: none; 
}

@media (max-width: 767px) {
  .sidebar__headline {
    /* box */
    display: block; 
  } 
}

.sidebar__profile-pic {
  /* box */
  border-radius: 50%;
  height: 150px;
  width: 150px; 
}

@media (max-width: 767px) {
  .sidebar__profile-pic {
    display: none; 
  } 
}

/* Main */
.main {
  /* box */
  box-sizing: border-box;
  flex-basis: 60%;
  flex-grow: 1;
  margin-left: 25%;
  padding: 0 2.5rem; 
  background-color: var(--body-color);
}

@media (max-width: 767px) {
  .main {
    margin-left: 0; 
  } 
}

.main__container {
  /* box */
  height: 100%;

  /* effects */
  overflow: scroll; 
}

.main__subtitle {
  /* box */
  padding-top: 2rem;
  /* text */
  color: var(--orange-color); 
}

.main__section {
  /* box */
  border-bottom: solid 1.5px #ccc;
  max-width: 65rem;
  margin: 0 auto;
  padding: 4rem 1.5rem; 
}

  @media (max-width: 767px) {
    .main__section {
      padding: 4rem 0; 
  } 
}

@media (max-width: 767px) {
  .main__profile {
    /* box */
    display: none; 
  } 
}

.main__contact-info {
  /* box */
  display: inline-block; 
}

.main__contact-info a {
  /* text */
  color: #333;
  text-decoration: none;
  text-transform: capitalize; 
}

.main__email {
  /* */
  display: inline-block; 
}
